@import "tailwindcss";

@layer components {
    .underline-animated {
        @apply inline-block relative;
        @apply text-gray-800 transition-colors duration-300;
        @apply hover:text-green-600;
    }

    .underline-animated::after {
        @apply content-[''] absolute w-full;
        @apply h-[2px];
        @apply bottom-0 left-0;
        @apply bg-green-600;
        @apply transform scale-x-0 origin-center;
        @apply transition-transform duration-300 ease-out;
    }

    .underline-animated:hover::after {
        @apply scale-x-100;
    }
}